<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="/#index">PicPostApp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li>
      <%= link_to "New Post", new_post_path %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Register", new_user_registration_path %>
    </li>
  <% end %>
</ul>

  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
